<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Pizza List')"></head>

<body>
<div class="container">
    <h1>Pizza List</h1>
    <hr>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Image</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pizza : ${pizzaList}" th:object="${pizza}">
            <td th:text="*{name}"></td>
            <td th:text="*{description}"></td>
            <td>
                <img th:src="*{image}" alt="Pizza Image" width="100" height="100">
            </td>
            <td th:text="'€ ' + *{price}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>